[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"

  [headers.values]
    # X-Content-Type-Options controls whether browsers attempt to detect
    # the content type, rather than relyihng on the Content-Type header.
    # https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options
    X-Content-Type-Options = "nosniff"

    # Strict-Transport-Security to require HTTPS connections in supported
    # browsers. These settings are required to be eligible for inclusion
    # in the HSTS Preload list; see: https://hstspreload.org/
    Strict-Transport-Security = """\
      max-age=63072000; \
      includeSubDomains; \
      preload \
      """

    # Content-Security-Policy to prevent XSS attacks.
    Content-Security-Policy = """\
      default-src 'none'; \
      base-uri 'none'; \
      child-src 'none'; \
      connect-src 'self' https://raw.githubusercontent.com; \
      font-src 'self'; \
      form-action 'none'; \
      frame-ancestors 'none'; \
      frame-src 'none'; \
      img-src 'self' data: https:; \
      manifest-src 'none'; \
      media-src 'none'; \
      object-src 'none'; \
      prefetch-src 'none'; \
      script-src 'self' 'unsafe-eval' blob:; \
      script-src-elem 'self'; \
      style-src 'self' 'unsafe-inline'; \
      worker-src 'self' 'unsafe-eval' blob:; \
      """

    # Referrer-Policy controls the Referer header in requests.
    #
    # same-origin allows analytics tools to understand user journeys.
    Referrer-Policy = "same-origin"

    # X-Permitted-Cross-Domain-Policies controls whether this site can be
    # embedded into Flash applications or PDF documents.
    X-Permitted-Cross-Domain-Policies = "none"

    # Permissions-Policy controls the features that the site can request.
    #
    # https://developer.chrome.com/en/docs/privacy-sandbox/permissions-policy/
    # https://github.com/w3c/webappsec-permissions-policy/blob/main/features.md
    Permissions-Policy = """\
      accelerometer=(), \
      ambient-light-sensor=(), \
      autoplay=(), \
      battery=(), \
      camera=(), \
      cross-origin-isolated=(), \
      display-capture=(), \
      document-domain=(), \
      encrypted-media=(), \
      execution-while-not-rendered=(), \
      execution-while-out-of-viewport=(), \
      fullscreen=(), \
      geolocation=(), \
      gyroscope=(), \
      hid=(), \
      idle-detection=(), \
      magnetometer=(), \
      microphone=(), \
      midi=(), \
      navigation-override=(), \
      payment=(), \
      picture-in-picture=(), \
      publickey-credentials-get=(), \
      screen-wake-lock=(), \
      serial=(), \
      sync-xhr=(), \
      usb=(), \
      web-share=(), \
      xr-spatial-tracking=() \
      """
