@import "@fontsource/inconsolata/variable.css";
@import "@fontsource/inter/variable.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

:root {
  /* Neutral palette for foreground / background */
  /* #f8fafc; */
  --50: 210deg 40% 98%;
  /* #f1f5f9; */
  --100: 210deg 44% 96%;
  /* #e2e8f0; */
  --200: 214deg 32% 91%;
  /* #cbd5e1; */
  --300: 213deg 27% 84%;
  /* #94a3b8; */
  --400: 215deg 20% 65%;
  /* #64748b; */
  --500: 215deg 16% 47%;
  /* #475569; */
  --600: 215deg 19% 35%;
  /* --700: #334155; */
  --700: 215deg 25% 27%;
  /* #1e293b; */
  --800: 217deg 33% 17%;
  /* #0f172a; */
  --900: 222deg 47% 11%;
  /* #ffffff */
  --white: 0deg 0% 100%;


  /* Primary default palette */
  /* #F2F6FF */
  --primary-default-50:  222deg 100% 97%;
  /* #E6EDFF */
  --primary-default-100: 223deg 100% 95%;
  /* #C0D3FF */
  --primary-default-200: 222deg 100% 88%;
  /* #9AB8FE */
  --primary-default-300: 222deg 98% 80%;
  /* #4E82FE */
  --primary-default-400: 222deg 99% 65%;
  /* #024DFD */
  --primary-default-500: 222deg 98% 50%;
  /* #0245E4 */
  --primary-default-600: 222deg 98% 45%;
  /* #023ABE */
  --primary-default-700: 222deg 98% 38%;
  /* #012E98 */
  --primary-default-800: 222deg 99% 30%;
  /* #01267C */
  --primary-default-900: 222deg 98% 25%;

  /* Danger default palette */
  /* #fdf2f8 */
  --danger-default-50: 327deg 73% 97%;
  /* #ffe4e6 */
  --danger-default-100: 356deg 100% 95%;
  /* #fecdd3 */
  --danger-default-200: 353deg 96% 90%;
  /* #fda4af */
  --danger-default-300: 353deg 96% 82%;
  /* #fb7185 */
  --danger-default-400: 351deg 95% 71%;
  /* #f43f5e */
  --danger-default-500: 350deg 89% 60%;
  /* #e11d48 */
  --danger-default-600: 347deg 77% 50%;
  /* #be123c */
  --danger-default-700: 345deg 83% 41%;
  /* #9f1239 */
  --danger-default-800: 343deg 80% 35%;
  /* #881337 */
  --danger-default-900: 342deg 75% 30%;

  /* Success default palette */
  /* #ecfdf5 */
  --success-default-50: 152deg 81% 96%;
  /* #d1fae5 */
  --success-default-100: 149deg 80% 90%;
  /* #a7f3d0 */
  --success-default-200: 152deg 76% 80%;
  /* #6ee7b7 */
  --success-default-300: 156deg 72% 67%;
  /* #34d399 */
  --success-default-400: 158deg 64% 52%;
  /* #10b981 */
  --success-default-500: 160deg 84% 39%;
  /* #059669 */
  --success-default-600: 161deg 94% 30%;
  /* #047857 */
  --success-default-700: 163deg 94% 24%;
  /* #065f46 */
  --success-default-800: 163deg 88% 20%;
  /* #064e3b */
  --success-default-900: 164deg 86% 16%;
}

.dark:root {
  color-scheme: dark;
}
.light:root {
  color-scheme: light;
}

@layer base {
  :root {
    --foreground: var(--800);
    --background: var(--100);
    --primary: var(--primary-default-400);
    --danger: var(--danger-default-400);
    --success: var(--success-default-400);
    --prefect: var(--primary-default-500);

    --prefect-50: var(--primary-default-50);
    --prefect-100: var(--primary-default-100);
    --prefect-200: var(--primary-default-200);
    --prefect-300: var(--primary-default-300);
    --prefect-400: var(--primary-default-400);
    --prefect-500: var(--prefect);
    --prefect-600: var(--primary-default-600);
    --prefect-700: var(--primary-default-700);
    --prefect-800: var(--primary-default-800);
    --prefect-900: var(--primary-default-900);
  }

  .dark {
    color-scheme: dark;

    --foreground: var(--200);
    --background: var(--800);
    --primary: var(--primary-default-400);
    --danger: var(--danger-default-500);
    --success: var(--success-default-500);

    --foreground-50: var(--700);
    --foreground-100: var(--600);
    --foreground-200: var(--500);
    --foreground-300: var(--400);
    --foreground-400: var(--300);
    --foreground-500: var(--foreground);
    --foreground-600: var(--100);
    --foreground-700: var(--50);
    --foreground-800: var(--50);
    --foreground-900: var(--50);

    --background-50: var(--900);
    --background-100: var(--900);
    --background-200: var(--900);
    --background-300: var(--900);
    --background-400: var(--900);
    --background-500: var(--background);
    --background-600: var(--700);
    --background-700: var(--600);
    --background-800: var(--500);
    --background-900: var(--400);

    --primary-50: var(--primary-default-900);
    --primary-100: var(--primary-default-800);
    --primary-200: var(--primary-default-700);
    --primary-300: var(--primary-default-600);
    --primary-400: var(--primary-default-500);
    --primary-500: var(--primary);
    --primary-600: var(--primary-default-300);
    --primary-700: var(--primary-default-200);
    --primary-800: var(--primary-default-100);
    --primary-900: var(--primary-default-50);

    --danger-50:  var(--danger-default-900);
    --danger-100: var(--danger-default-900);
    --danger-200: var(--danger-default-800);
    --danger-300: var(--danger-default-700);
    --danger-400: var(--danger-default-600);
    --danger-500: var(--danger);
    --danger-600: var(--danger-default-400);
    --danger-700: var(--danger-default-300);
    --danger-800: var(--danger-default-200);
    --danger-900: var(--danger-default-100);

    --success-50:  var(--success-default-900);
    --success-100: var(--success-default-900);
    --success-200: var(--success-default-800);
    --success-300: var(--success-default-700);
    --success-400: var(--success-default-600);
    --success-500: var(--success);
    --success-600: var(--success-default-400);
    --success-700: var(--success-default-300);
    --success-800: var(--success-default-200);
    --success-900: var(--success-default-100);
  }

  .light {
    color-scheme: light;

    --foreground: var(--800);
    --background: var(--white);
    --primary: var(--primary-default-500);
    --danger: var(--danger-default-500);

    --foreground-50: var(--300);
    --foreground-100: var(--400);
    --foreground-200: var(--500);
    --foreground-300: var(--600);
    --foreground-400: var(--700);
    --foreground-500: var(--foreground);
    --foreground-600: var(--900);
    --foreground-700: var(--900);
    --foreground-800: var(--900);
    --foreground-900: var(--900);
  
    --background-50: var(--700);
    --background-100: var(--600);
    --background-200: var(--500);
    --background-300: var(--400);
    --background-400: var(--300);
    --background-500: var(--200);
    --background-600: var(--100);
    --background-700: var(--50);
    --background-800: var(--50);
    --background-900: var(--background);

    --primary-50: var(--primary-default-50);
    --primary-100: var(--primary-default-100);
    --primary-200: var(--primary-default-200);
    --primary-300: var(--primary-default-300);
    --primary-400: var(--primary-default-400);
    --primary-500: var(--primary);
    --primary-600: var(--primary-default-600);
    --primary-700: var(--primary-default-700);
    --primary-800: var(--primary-default-800);
    --primary-900: var(--primary-default-900);

    --danger-50: var(--danger-default-50);
    --danger-100: var(--danger-default-100);
    --danger-200: var(--danger-default-200);
    --danger-300: var(--danger-default-300);
    --danger-400: var(--danger-default-400);
    --danger-500: var(--danger);
    --danger-600: var(--danger-default-600);
    --danger-700: var(--danger-default-700);
    --danger-800: var(--danger-default-800);
    --danger-900: var(--danger-default-900);

    --success-50: var(--success-default-50);
    --success-100: var(--success-default-100);
    --success-200: var(--success-default-200);
    --success-300: var(--success-default-300);
    --success-400: var(--success-default-400);
    --success-500: var(--success);
    --success-600: var(--success-default-600);
    --success-700: var(--success-default-700);
    --success-800: var(--success-default-800);
    --success-900: var(--success-default-900);
  }
}

html {
  transition: inherit;
}

* {
  --duration: 50ms;
  --timing: ease;
  transition: background-color var(--duration) var(--timing), color var(--duration) var(--timing);   
}